name: Test & Deploy

on:
  pull_request:
    branches: [staging, main]
  push:
    branches: [staging, main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run tests and build
        run: npm run build

  deploy:
    needs: test
    if: github.ref == 'refs/heads/staging'
    runs-on: ubuntu-latest
    name: deploy

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set deployment status
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: 'success',
              target_url: `https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`,
              description: 'Vercel deployment triggered',
              context: 'ci/deployment-triggered'
              })
